*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    height: 100Vh;
    background-image: url('../images/image-16-4.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bold{
    font-weight: bold;
}
.title{
    background-color: rgba(0, 0, 0, 0.548);
    color:white;
    width:500px;
}
form{
    min-width: 400px;
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    height: 200px;

}
.w-50{
    width:20%;
    margin: 0 auto;
    text-align: center;
}
.form-text{
    color:white;
}
.form-control{
    cursor: pointer;
}